div {
  span {
    font-size: 8px;
    font-style: normal;
    font-weight: 700;
  }
  p {
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    min-width: 59px;
    margin: 4px 0 0;
    padding: 4px 6px;
    color: #43b748 !important;
    background-color: #e4ffeb !important;
    border-radius: 14px;
    &.isYellow {
      color: #fc9700 !important;
      background-color: #fef4e2 !important;
    }
    &.isRed {
      color: #e72e49 !important;
      background-color: #ffedf2 !important;
    }
  }

  &.clear {
    p {
      padding: 0;
      background-color: white;
      justify-content: normal !important;
    }
  }

  .icon-flecha-anaranjada {
    transform: rotate(-45deg);
  }
}
