<div class="my-department d-flex flex-column">
  <h2 class="sectionTitle">Penetración por departamento</h2>
  @if (loaded) {
  <select [(ngModel)]="department" (ngModelChange)="updateView()">
    @for (item of departments; track $index) {
    <option [attr.value]="item.value">{{ item.name }}</option>
    }
  </select>

  <div class="my-department__wrapper h-100 position-relative">
    <div class="graph">
      <div class="graph__content d-flex justify-content-between">
        <div class="vector">
          <img [attr.src]="current.vector" [attr.alt]="current.name" />
        </div>
        <div class="labels">
          <p class="level mb-4 gap-1 d-flex align-items-center">
            OPORTUNIDAD
            <span [class]="data?.opportunity || 'EMPTY'">
              @if (data?.opportunity === 'ALTO') {
              <img src="../../../../assets/icons/green-dot.svg" alt="" />
              } @else if (data?.opportunity === 'BAJO') {
              <img src="../../../../assets/icons/red-dot.svg" alt="" />
              } @else if (data?.opportunity === '') {
              <img src="../../../../assets/icons/gray-dot.svg" alt="" />
              } @else {
              <img src="../../../../assets/icons/orange-dot.svg" alt="" />
              }
              {{ data?.opportunity || 'SIN RESULTADOS' }}
            </span>
          </p>

          <div class="d-flex flex-wrap">
            <p class="d-grid w-50">
              % participación <br />
              facturación
              <span>{{ data?.billingParticipation }}</span>
            </p>

            <p class="d-grid w-50">
              % participación <br />
              cobertura
              <span>{{ data?.coverageParticipation }}</span>
            </p>

            <p class="d-grid w-50">
              % distribución <br />
              númerica
              <span class="text-black-50">{{ data?.distribution }}</span>
            </p>

            <p class="d-grid w-50">
              % distribución <br />
              ponderada
              <span class="text-black-50">{{ data?.weightedDistribution }}</span>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  }
</div>
