<div class="my-department d-flex flex-column">
  <h2 class="sectionTitle">Penetración por departamento</h2>
  <select name="" id="">
    <option value="">Lambayeque</option>
  </select>

  <div class="my-department__wrapper h-100 position-relative">
    <div class="graph">
      <div class="graph__content d-flex justify-content-between">
        <div class="vector"></div>
        <div class="labels">
          <p class="d-grid">
            % participación facturación
            <span>28%</span>
          </p>

          <p class="d-grid">
            % participación cobertura
            <span>21%</span>
          </p>

          <p class="d-grid">
            % distribución númerica
            <span class="text-black-50">75%</span>
          </p>

          <p class="d-grid">
            % distribución ponderada
            <span class="text-black-50">85%</span>
          </p>
        </div>
      </div>
      <div class="graph__indicators position-absolute bottom-0">
        <p class="gap-1 m-0 d-flex align-items-center">
          <img src="../../../../assets/icons/green-dot.svg" alt="" />
          Bueno (xx al yy)
        </p>

        <p class="gap-1 m-0 d-flex align-items-center">
          <img src="../../../../assets/icons/orange-dot.svg" alt="" />
          Regular (xx al yy)
        </p>

        <p class="gap-1 m-0 d-flex align-items-center">
          <img src="../../../../assets/icons/red-dot.svg" alt="" />
          Oportunidad (xx al yy)
        </p>
      </div>
    </div>
  </div>
</div>
