<div class="my-department d-flex flex-column">
  <h2 class="sectionTitle">Penetración por departamento</h2>
  <select [(ngModel)]="department" (ngModelChange)="updateView()">
    @for (item of departments; track $index) {
    <option [attr.value]="item.value">{{ item.name }}</option>
    }
  </select>

  <div class="my-department__wrapper h-100 position-relative">
    <div class="graph">
      <div class="graph__content d-flex justify-content-between">
        <div class="vector">
          <img [attr.src]="current.vector" [attr.alt]="current.name" />
        </div>
        <div class="labels">
          <p class="level mb-4 gap-1 d-flex align-items-center">
            OPORTUNIDAD
            <span class="alta">
              <img src="../../../../assets/icons/green-dot.svg" alt="" />
              ALTA
            </span>
          </p>

          <div class="d-flex flex-wrap">
            <p class="d-grid w-50">
              % participación <br />
              facturación
              <span>28%</span>
            </p>

            <p class="d-grid w-50">
              % participación <br />
              cobertura
              <span>21%</span>
            </p>

            <p class="d-grid w-50">
              % distribución <br />
              númerica
              <span class="text-black-50">75%</span>
            </p>

            <p class="d-grid w-50">
              % distribución <br />
              ponderada
              <span class="text-black-50">85%</span>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
