<div class="my-stacked-graph d-flex flex-wrap h-100">
  <h2>% Participación Facturación por categoría</h2>
  <div class="h-100 d-flex flex-column justify-content-center">
    <div class="doughnut-graph d-flex pt-4">
      <div class="graph">
        <canvas class="graph-content" #graph> </canvas>
      </div>

      <div class="labels">
        <ul class="list-unstyled">
          @for (i of doughnutChart; track i.label) {
          <li class="d-flex align-items-center">
            <span [style.backgroundColor]="i.color"></span>
            <p> {{i.label}} </p>
          </li>
          }
        </ul>
      </div>
    </div>

    <div class="stacked-graph">
      @for (i of stackedChart; track i.label) {
      <div class="stacked-graph__item d-flex mb-1">
        <div class="stack d-flex justify-content-center">
          <div class="stack__value d-flex align-items-center justify-content-center" [style.background]="i.color">
            <p class="text-center m-0 fw-bold text-white" [style.color]="i.color === '#D9DDE3' && '#000 !important'">{{i.value}}</p>
          </div>
        </div>
        <div class="stack__label d-flex align-items-center">
          <p>{{i.label}}</p>
        </div>
      </div>
      }
    </div>
  </div>
</div>
