.my-evolution-line {
  height: 100%;
  border-radius: 8px;
  border: 1px solid var(--Grey-4, #d9dde3);
  background: var(--White, #fff);
  position: relative;
  padding: 16px 10px;
  width: 100%;

  .chart {
    height: calc(100% - 43px);
    &-labels {
      padding: 4px;
      position: relative;
      top: 7px;
    }
  }
}
