<div class="wrapper">
  @if(!globalStore.isLoading()) {
  <div class="my-sidebar" [ngClass]="{ open: isOpen }" (mouseenter)="isOpen=true" (mouseleave)="isOpen=false">
    <div class="my-sidebar__logo">
      <img src="../../../../../assets/images/logo.png" alt="Mi quimica" />
    </div>

    <div class="my-sidebar__navbar d-flex flex-column justify-content-between pt-5 mt-3">
      <ul class="list-unstyled m-0">
        @for ( i of navBarItems; track i) {
        <li class="action d-flex gap-1 mb-3 pb-1 align-items-center position-relative" [ngClass]="{ inactive: i.pro }"
          [routerLink]="['/dashboard/' + i.path]" routerLinkActive="router-link-active"
          [routerLinkActiveOptions]="{ exact: true }" (click)="toggleSidebar()">
          <!-- <img [src]="'../../../../../assets/icons/' + i.icon" alt="" /> -->
          <i [attr.class]="'icon ' + i.icon"></i>
          <ng-container *ngIf="isOpen">
            <span class="fs-x2"> {{ i.label }}</span>
            @if (i.pro) {
            <em><i class="icon icon-estrella"></i> PRO</em>
            }
          </ng-container>
        </li>
        }

        <li class="action action-download d-flex gap-1 mt-5 mb-3 pb-1 align-items-center position-relative"
          (click)="downloadReport()" [ngClass]="{process: isDownloading()}">
          <!-- <img [src]="'../../../../../assets/icons/' + i.icon" alt="" /> -->
          @if (!isDownloading()) {
          <i class="icon icon-exportar-data"></i>
          <span class="fs-x2"> exportar data </span>
          } @else {
          <img src="../../../../../assets/icons/spinner.svg" alt="">
          <span class="fs-x2"> cargando </span>
          }
        </li>

        <li class="action action-logout d-flex gap-1 mt-5 mb-3 pb-1 align-items-center position-relative"
          (click)="doLogout()">
          <img src="../../../../../assets/icons/logout-icon.svg" alt="" />
          <span class="fs-x2"> Cerrar sesión </span>
        </li>
      </ul>

      @if(!true) {
      <div class="my-sidebar__toggle justify-content-center w-100 pb-4 d-flex justify-content-center">
        <button type="button">
          @if (!isOpen) {
          <img src="../../../../../assets/icons/arrow-next.svg" alt="" />
          } @else {
          <img src="../../../../../assets/icons/arrow-prev.svg" alt="" />
          }
        </button>
      </div>
      }
    </div>
  </div>
  }

  <div class="my-content py-4">
    <div class="wrapper">
      @if(globalStore.isLoading()) {
      <app-loading></app-loading>
      }
      <router-outlet></router-outlet>
    </div>
  </div>
</div>

@if (showSuccess()) {
<div class="download position-absolute top-0 start-0 w-100 d-flex">
  <div class="download__success m-auto d-flex justify-content-center mt-3">
    <img src="../../../../../assets/icons/check.svg" alt="Check">
    <p class="m-0">Descarga completada</p>
    <img src="../../../../../assets/icons/close.svg" class="pointer" alt="Close" (click)="closeSuccess()">
  </div>
</div>
}
