<div class="wrapper">
  <div class="my-sidebar">
    <div class="my-sidebar__logo">
      <img src="../../../../../assets/images/logo.png" alt="Mi quimica" />
    </div>

    <div class="my-sidebar__navbar pt-5">
      <ul class="list-unstyled m-0">
        @for ( i of navBarItems; track i) {
        <li
          class="action d-flex gap-1 mb-3 pb-1 align-items-center"
          [ngClass]="{ inactive: i.pro }"
        >
          <img [src]="'../../../../../assets/icons/' + i.icon" alt="" />
          <span class="fs-x2"> {{ i.label }}</span>
          @if (i.pro) {
          <em>PRO</em>
          }
        </li>
        }
      </ul>
    </div>
  </div>

  <div class="my-content py-4">
    <div class="wrapper">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
