.wrapper {
  display: flex;
  .my-sidebar {
    width: 212px;
    position: relative;
    padding: 0 1rem;
    &__logo {
      width: 100%;
    }

    &__navbar {
      .action {
        border-bottom: 1px solid transparent;
        cursor: pointer;
        line-height: 1.2;
        width: max-content;
        max-width: 100%;
        img {
          width: 25px;
        }
        span {
          color: #b3b8bf;
        }
        em {
          border-radius: 16px;
          background: #0050f5;
          color: #fff;
          font-size: 10px;
          font-weight: 800;
          line-height: 14px;
          letter-spacing: 0.7px;
          text-transform: uppercase;
          padding: 2px 4px;
          position: absolute;
          bottom: -15px;
          left: 25px;
          padding-left: 1rem;
          &::before {
            content: "";
            display: block;
            width: 5px;
            height: 5px;
            background-color: white;
            position: absolute;
            left: 7px;
            top: 6px;
            border-radius: 50%;
          }
        }
        &.inactive {
          border-bottom: none !important;
          &:hover {
            span {
              color: #b3b8bf;
            }
            span,
            img {
              opacity: 0.5;
            }
          }
        }

        &:hover {
          border-bottom: 1px solid var(--Blue, #0050f5);
          span {
            color: #0050f5;
          }
        }

        &.router-link-active {
          span {
            font-weight: 800;
            color: #0050f5;
          }
        }
      }
    }
  }

  .my-content {
    width: calc(100% - 220px);
    .wrapper {
      max-width: 1100px;
      margin: 0 auto;
    }
  }
}
