:host {
  display: block;

  ::ng-deep {
    .my-evolution-chart__chart {
      height: 370px !important;
    }
  }
}

app-evolution-chart,
app-country-graph {
  width: 35%;
}

app-stacked-graph {
  width: 30%;
}
