.my-participation {
  height: 100%;
  border-radius: 8px;
  border: 1px solid var(--Grey-4, #d9dde3);
  background: var(--White, #fff);
  position: relative;
  padding: 16px 10px;
  width: 100%;

  &__graph {
    width: 100%;
  }
}

:host {
  ::ng-deep {
    .datalabel {
      .percentage {
        color: var(--Blue, #0050F5);
text-align: center;
font-size: 16px;
font-style: normal;
font-weight: 700;
line-height: 22px; /* 137.5% */
letter-spacing: 0.4px;
text-transform: uppercase;
      }
    }
  }
}