<div class="my-categories-page">
  <div class="my-categories-page__header">
    <div class="d-flex gap-2">
      <app-card-filter></app-card-filter>
      <app-card-report></app-card-report>
      <app-card-report></app-card-report>
      <app-card-report></app-card-report>
    </div>

    <div class="d-flex gap-2 mt-2">
      <div class="my-categories-page__stacked">
        <app-doughnut-vertical class="d-block"></app-doughnut-vertical>
      </div>

      <div class="w-100">
        <div class="d-flex mb-2 gap-2">
          <app-evolution-line class="w-100"></app-evolution-line>
          <app-participation></app-participation>
        </div>
        <app-dimension-graph></app-dimension-graph>
      </div>
    </div>

    <div class="d-flex gap-2 mt-2">
      <app-table-report
        [headers]="headers"
        [values]="values"
      ></app-table-report>
      <app-table-report
        class="table-small"
        [headers]="headers2"
        [values]="values2"
      ></app-table-report>
    </div>
  </div>
</div>
