.my-categories-page {
  &__stacked {
    width: 220px;
  }
}

app-table-report  {
  width: 60%;
  &.table-small {
    width: 40%;
  }
}

.evolution {
  app-evolution-line {
    width: calc(100% - 450px) !important
  }

  app-participation {
    width: 450px !important;
  }

  &.filter__active {
    app-evolution-line {
      width: calc(100% - 250px) !important
    }
  
    app-participation {
      width: 250px !important;
    }
  }
}