.my-categories-page {
  &__stacked {
    width: 220px;
  }
}

app-table-report  {
  width: 60%;
  &.table-small {
    width: 40%;
  }
}

.evolution {
  
  app-evolution-line {
    width: 50% !important
  }

  app-participation {
    width: 450px !important;
  }
}