.my-evolution-chart {
  min-height: 400px;
  height: 100%;
  border-radius: 8px;
  border: 1px solid var(--Grey-4, #d9dde3);
  background: var(--White, #fff);
  position: relative;
  padding: 16px 10px;
  width: 100%;

  &__chart {
    height: 200px;
    border-bottom: 1px solid #d9dde3;
    margin-bottom: 10px;
  }

  app-table-report {
    width: 290px;
  }

  ::ng-deep {
    .my-table-report {
      padding: 0 !important;
      border: none !important;
      height: auto !important;
    }
  }
}

.stacked {
  &__indicator {
    height: 22px;
    margin-bottom: 7px;
    p {
      color: #8f959d;
      font-size: 10px;
      font-weight: 800;
      line-height: 1;
      padding-right: 5px;
    }
  }

  &__value {
    min-width: 80px;
  }

  &__content {
    &::after {
      content: attr(data-value);
      width: 100%;
      display: block;
      text-align: center;
      font-weight: 600;
      font-size: 14px;
    }

    &.bg-primary {
      color: #fff;
    }

    &.bg-dark-subtle {
      &::after {
        position: absolute;
        right: calc(-100%);
        padding-left: 4px;
      }
    }
  }
}
