.my-evolution-chart {
  min-height: 458px;
  border-radius: 8px;
  border: 1px solid var(--Grey-4, #d9dde3);
  background: var(--White, #fff);
  position: relative;
  padding: 16px 10px 0;
  width: 100%;
}
