.my-stacked-graph {
  min-height: 206px;
  border-radius: 8px;
  border: 1px solid var(--Grey-4, #d9dde3);
  background: var(--White, #fff);
  position: relative;
  padding: 16px 10px 0;
  width: 100%;

  app-categories {
    width: 120px;
  }

  .stacked-graph {
    &__item {
      display: none;
      &:nth-child(1) {
        .stack {
          padding: 0;
          &__value {
            width: 100%;
            &::after {
              right: -6px;
            }
            &::before {
              left: -11px;
            }
          }
        }
      }
      &:nth-child(2) {
        .stack {
          &__value {
            width: 98%;
            &::after {
              right: -8px;
              transform: rotate(24deg);
            }
            &::before {
              left: -11px;
              transform: rotate(-24deg);
            }
          }
        }
      }

      &:nth-child(3) {
        .stack {
          &__value {
            width: 75%;
            &::after {
              right: -10px;
              right: -10px;
              transform: rotate(21deg);
            }
            &::before {
              left: -11px;
              transform: rotate(-25deg);
            }
          }
        }
      }
      &:last-child {
        .stack {
          &__value {
            width: 52%;
            &::after,
            &::before {
              display: none;
              width: 0px;
              height: 0px;
            }
          }
        }
      }
    }
  }

  .stack {
    width: 170px;
    max-width: 170px;
    height: 32px;
    padding: 0 1rem;
    &__value {
      width: 100%;
      height: 100%;
      position: relative;
      // overflow: hidden;
      p {
        font-size: 10px;
        color: #fff;
      }

      &::before {
        content: "";
        display: block;
        width: 20px;
        height: 40px;
        background-color: #fff;
        padding: 10px;
        position: absolute;
        top: 0;
        left: -10px;
        transform: rotate(-28deg);
      }

      &::after {
        content: "";
        display: block;
        width: 20px;
        height: 40px;
        background-color: #fff;
        padding: 10px;
        position: absolute;
        top: 0;
        right: -10px;
        transform: rotate(28deg);
      }
    }
    &__label {
      p {
        margin: 0;
        font-size: 13px;
        // color: #314561;
        font-weight: 600;
        position: relative;
        z-index: 999;
      }
    }
  }
}
