<div class="my-cc-card">
  <div class="my-cc-card__wrapper h-100 d-flex flex-wrap align-content-center px-3">
    <div class="d-flex flex-column">
      <img src="../../../../assets/images/logo-2.png" alt="" />
      <select name="" id="">
        <option value="">Diciembre 2024</option>
      </select>
      @if (isOnCurrent) {
      <p class="m-0">Información hasta el día 19/12/2024</p>
      }
    </div>
  </div>

  <div class="toggle" (click)="toggle()">
    Ver al día @if (isOnCurrent) {
    <i class="icon icon-toggle-on"></i>
    } @else {
    <i class="icon icon-toggle-off"></i>
    }
  </div>
</div>
