<div class="my-country">
  <h2 class="sectionTitle">Oportunidad por departamento</h2>
  <div #chartContainer></div>

  <div class="my-country__indicators position-absolute">
    <p class="gap-1 d-flex align-items-center">
      <img src="../../../../assets/icons/green-dot.svg" alt="" />
      Oportunidad Alta
    </p>

    <p class="gap-1 d-flex align-items-center">
      <img src="../../../../assets/icons/orange-dot.svg" alt="" />
      Oportunidad Media
    </p>

    <p class="gap-1 d-flex align-items-center">
      <img src="../../../../assets/icons/red-dot.svg" alt="" />
      Oportunidad Baja
    </p>
  </div>
</div>
