<div class="my-region-page">
  <div class="my-region-page__header">
    <div class="d-flex gap-2">
      <app-card-filter></app-card-filter>
      <app-card-report></app-card-report>
      <app-card-report></app-card-report>
      <app-card-report></app-card-report>
      <app-card-report></app-card-report>
    </div>

    <div class="d-flex w-100 gap-2 my-3">
      <app-department-graph></app-department-graph>
      <app-evolution-chart
        [categories]="categories"
        [series]="series"
        [withFooter]="true"
      ></app-evolution-chart>
      <div class="my-region-page__stacked">
        <app-doughnut-vertical></app-doughnut-vertical>
      </div>
    </div>

    <div class="d-flex gap-2 mt-2">
      <app-table-report
        [headers]="headers"
        [values]="values"
      ></app-table-report>
      <app-table-report
        class="table-small"
        [headers]="headers2"
        [values]="values2"
      ></app-table-report>
    </div>
  </div>
</div>
