@import './assets/fonts/nunito.scss';

@import './assets/scss/variables';
@import './assets/scss/typography';

* {
  font-family: "Nunito Sans", sans-serif;
}

.fs-x2 {
  font-size: 13px;
  font-style: normal;
  font-weight: 600;
}

.highcharts-credits {
  display: none !important;
}